<% if (locals.meetingTitle) { %>

    <strong><p>[For clearance] Agenda for <%= meetingTitle %> on <%= meetingDate %> </p></strong>

<p>This seeks your clearance for the agenda for the <%= meetingTitle %> on <%= meetingDate %>, <%= startTime %> - <%= endTime %> at <%= meetingVenue %>, please. </p>

<p>Thank you.</p>

<% } %>