<%- include("partials/header.ejs") %>

<div class="container">
    <h3>Meeting details</h3>
    <% if (locals.meetingData) { %>
    <ul>
        <li>Meeting Title: <%= meetingData.meetingTitle %></li>
        <li>Date: <%= meetingData.meetingDate %></li>
        <li>Time: <%= meetingData.startTime %> to <%= meetingData.endTime %></li>
        <li>Venue: <%= meetingData.meetingVenue %></li>
    <% } %>
    </ul>

    <h3>Calendar invites</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Download</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Meeting invite</td>
          <td>
                <add-to-calendar-button
                name='<%= meetingData.meetingTitle %>' 
                description="A nice description does not hurt"
                startDate='<%= meetingData.meetingDate %>'
                endDate='<%= meetingData.meetingDate %>'
                startTime='<%= meetingData.startTime %>'
                endTime='<%= meetingData.endTime %>'
                location='<%= meetingData.meetingVenue %>'
                options="['iCal','Microsoft365','Outlook.com',]"
                timeZone="Singapore"
                trigger="click"
                inline
                listStyle="modal"
                iCalFileName="Reminder-Event"
                > </add-to-calendar-button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Reminders for meeting milestones</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>text</td>
        </tr>
      </tbody>
    </table>
    <!-- <form action="/email" method="post"> -->
    <a class="btn btn-primary" href="/email" role="button">Next</a>
    <!-- <input type="submit" class="btn btn-primary form-control" role="button" value="Next">
    </form> -->
  </div>

<%- include("partials/footer.ejs") %>