<%- include("partials/header.ejs") %>

<div class="container">
    <h3>1) Meeting details</h3>
    <form action="/submitdetails" method="post" class="row g-3">
        <!-- Meeting Details Section -->
        <div class="col-md-12">
            <label for="meetingTitle" class="form-label">Meeting title</label>
            <input type="text" class="form-control" id="meetingTitle" name="meetingTitle" placeholder="Meeting title" required>
        </div>
        <div class="col-md-6">
            <label for="meetingDate" class="form-label">Date</label>
            <input type="date" class="form-control" id="meetingDate" name="meetingDate" placeholder="Meeting date" required>
        </div>
        <div class="col-5 col-md-2">
            <label for="meetingStartTime" class="form-label">Time</label>
            <input type="time" class="form-control" name="startTime" placeholder="Meeting start time" required>
        </div>
        <div class="col-1 align-self-end text-center">
            to
        </div>
        <div class="col-5 col-md-2 align-self-end">
            <input type="time" class="form-control" name="endTime" placeholder="Meeting end time" required>
        </div>
        <div class="col-md-12">
            <label for="meetingVenue" class="form-label">Venue</label>
            <input type="text" class="form-control" id="meetingVenue" name="meetingVenue" placeholder="Meeting venue" required>
        </div>

        <!-- Timeline Settings Section -->
        <div class="container mt-5" id="timeline">
            <h3>2) Timeline settings</h3>
            <div class="form-check my-3">
                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="defaultSetting" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Use default settings?
                </label>
            </div>
            <div class="row mb-3">
                <div class="col">
                </div>
                <div class="col">
                    Days to complete task  
                </div>
                <div class="col">
                    Number of weeks before meeting to start task    
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    Call for agenda    
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Days to complete task" name="daysAgenda" 
                        value="<%= locals.meetingData ? meetingData.daysAgenda : defaultSettings.daysAgenda %>" disabled>
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorAgenda" 
                        value="<%= locals.meetingData ? meetingData.priorAgenda : defaultSettings.priorAgenda %>" disabled>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    Seek clearance for agenda  
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Days to complete task" name="daysClear" 
                        value="<%= locals.meetingData ? meetingData.daysClear : defaultSettings.daysClear %>" disabled>
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorClear" 
                        value="<%= locals.meetingData ? meetingData.priorClear : defaultSettings.priorClear %>" disabled>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    Item owners to submit materials   
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Days to complete task" name="daysSubmitMaterials" 
                        value="<%= locals.meetingData ? meetingData.daysSubmitMaterials : defaultSettings.daysSubmitMaterials %>" disabled>
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorSubmitMaterials" 
                        value="<%= locals.meetingData ? meetingData.priorSubmitMaterials : defaultSettings.priorSubmitMaterials %>" disabled>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    Circulation of materials  
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Days to complete task" name="daysCirculate" 
                        value="<%= locals.meetingData ? meetingData.daysCirculate : defaultSettings.daysCirculate %>" disabled>
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="# of weeks before meeting to start task" name="priorCirculate" 
                        value="<%= locals.meetingData ? meetingData.priorCirculate : defaultSettings.priorCirculate %>" disabled>
                </div>
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary form-control">Update Timeline</button>
        </div>
    </form>

    <% if (timeline) { %>
        <div class="container my-5" id="timelineResults">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h4 style="margin-left: 1.2rem;">Meeting timeline</h4>
                    <ul class="timeline-3">
                        <li>
                            <a href="#!">Call for agenda</a> 
                            <a href="#!" class="float-end"><%= timeline.callAgenda.start %> to <%= timeline.callAgenda.end %></a>
                            <p class="mt-2">Send out call for agenda items to all meeting participants.</p>
                            <p><add-to-calendar-button
                                name="Call for Agenda - <%= meetingData.meetingTitle %>"
                                description="Deadline to submit agenda items"
                                startDate="<%= new Date(timeline.callAgenda.start).toISOString().split('T')[0] %>"
                                endDate="<%= new Date(timeline.callAgenda.end).toISOString().split('T')[0] %>"
                                startTime="09:00"
                                endTime="17:00"
                                location="<%= meetingData.meetingVenue %>"
                                options="['Apple','Google','iCal','Microsoft365','Outlook.com']"
                                timeZone="Asia/Singapore"
                                trigger="click"
                                inline
                                listStyle="modal"
                                iCalFileName="Agenda-Deadline">
                            </add-to-calendar-button></p>
                        </li>
                        <li>
                            <a href="#!">Clear agenda with meeting chair</a>
                            <a href="#!" class="float-end"><%= timeline.clearAgenda.start %> to <%= timeline.clearAgenda.end %></a>
                            <p class="mt-2">Submit draft agenda to meeting chair for review and clearance.</p>
                            <p><add-to-calendar-button
                                name="Clear agenda - <%= meetingData.meetingTitle %>"
                                description="Deadline to clear agenda with meeting chair"
                                startDate="<%= new Date(timeline.clearAgenda.start).toISOString().split('T')[0] %>"
                                endDate="<%= new Date(timeline.clearAgenda.end).toISOString().split('T')[0] %>"
                                startTime="09:00"
                                endTime="17:00"
                                location="<%= meetingData.meetingVenue %>"
                                options="['Apple','Google','iCal','Microsoft365','Outlook.com']"
                                timeZone="Asia/Singapore"
                                trigger="click"
                                inline
                                listStyle="modal"
                                iCalFileName="Clear-Agenda-Deadline">
                            </add-to-calendar-button></p>
                        </li>
                        <li>
                            <a href="#!">Update item owners of cleared agenda</a>
                            <a href="#!" class="float-end"><%= timeline.informItemOwner.start %> to <%= timeline.informItemOwner.end %></a>
                            <p class="mt-2">Share instructions on submission of materials and administrative requirements.</p>
                            <p><add-to-calendar-button
                                name="Update item owners of agenda - <%= meetingData.meetingTitle %>"
                                description="Deadline to update item owners of agenda and admin instructions"
                                startDate="<%= new Date(timeline.informItemOwner.start).toISOString().split('T')[0] %>"
                                endDate="<%= new Date(timeline.informItemOwner.end).toISOString().split('T')[0] %>"
                                startTime="09:00"
                                endTime="17:00"
                                location="<%= meetingData.meetingVenue %>"
                                options="['Apple','Google','iCal','Microsoft365','Outlook.com']"
                                timeZone="Asia/Singapore"
                                trigger="click"
                                inline
                                listStyle="modal"
                                iCalFileName="Inform-Item-Owners-Deadline">
                            </add-to-calendar-button></p>
                        </li>
                        <li>
                            <a href="#!">Circulate materials for meeting</a>
                            <a href="#!" class="float-end"><%= timeline.circulateMaterials.start %> to <%= timeline.circulateMaterials.end %></a>
                            <p class="mt-2">Compile and circulate all meeting materials to participants.</p>
                            <p><add-to-calendar-button
                                name="Circulate Materials - <%= meetingData.meetingTitle %>"
                                description="Deadline to circulate meeting materials"
                                startDate="<%= new Date(timeline.circulateMaterials.start).toISOString().split('T')[0] %>"
                                endDate="<%= new Date(timeline.circulateMaterials.end).toISOString().split('T')[0] %>"
                                startTime="09:00"
                                endTime="17:00"
                                location="<%= meetingData.meetingVenue %>"
                                options="['Apple','Google','iCal','Microsoft365','Outlook.com']"
                                timeZone="Asia/Singapore"
                                trigger="click"
                                inline
                                listStyle="modal"
                                iCalFileName="Materials-Deadline">
                            </add-to-calendar-button></p>
                        </li>
                    </ul>
                </div>
            </div>
            <form action="/templates" method="post" class="mt-3">
                <button type="submit" class="btn btn-primary form-control">Next</button>
            </form>
        </div>
    <% } %>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function() {
        const timelineResults = document.getElementById('timelineResults');
        const urlParams = new URLSearchParams(window.location.search);
        
        if (timelineResults) {
            timelineResults.scrollIntoView({ 
                behavior: 'smooth', 
                block: 'start'
            });
        }
    });
    // Get the checkbox and all form fields
    const toggleCheckbox = document.querySelector("#flexCheckChecked");
    const formFields = document.querySelectorAll("#timeline input[type='number']");
    const defaultValues = {
        daysAgenda: <%= defaultSettings.daysAgenda %>,
        priorAgenda: <%= defaultSettings.priorAgenda %>,
        daysClear: <%= defaultSettings.daysClear %>,
        priorClear: <%= defaultSettings.priorClear %>,
        daysSubmitMaterials: <%= defaultSettings.daysSubmitMaterials %>,
        priorSubmitMaterials: <%= defaultSettings.priorSubmitMaterials %>,
        daysCirculate: <%= defaultSettings.daysCirculate %>,
        priorCirculate: <%= defaultSettings.priorCirculate %>
    };

    // Function to set default values
    function setDefaultValues() {
        const inputs = document.querySelectorAll("#timeline input[type='number']");
        inputs.forEach(input => {
            const fieldName = input.name;
            if (defaultValues[fieldName]) {
                input.value = defaultValues[fieldName];
            }
        });
    }

    // Add event listener to checkbox
    toggleCheckbox.addEventListener("change", function() {
        formFields.forEach(field => {
            field.disabled = toggleCheckbox.checked;
        });
        if(toggleCheckbox.checked) {
            setDefaultValues();
        }
    });

    // Set initial state
    formFields.forEach(field => {
        field.disabled = toggleCheckbox.checked;
    });
</script>

<%- include("partials/footer.ejs") %>